section {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
}

section a {
    max-width: 200px;
}
section a img {
    aspect-ratio: 1;
    max-width: 200px;
}